body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "header header"
    "sidebar body"
    "footer footer";
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  grid-area: navbar;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.navbar a {
  color: black;
  margin-left: 15px;
  text-decoration: none;
}

/* Header */
.header {
  color: white;
  grid-area: header;
  background: #474C55 ;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  background: #E5EFFF;
  color: white;
  padding: 20px;
}
.sidebar h3 {
  color: black;
  background-color: #E5EFFF;
  margin-bottom: 10px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar li {
  color: black;
  background: #9bc9ee;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar li:hover {
  background: #1b6e66;
}

/* Main body */
.body {
  grid-area: body;
  background: #e9c46a;
  padding: 20px;
  background-color: #E5EFFF;
}

/* Week grid */
.week {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.day {
  background: white;
  border-radius: 8px;
  padding: 15px;
  width: 180px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.day h4 {
  text-align: center;
  color: rgb(232, 173, 63);
}
.day ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.day li {
  color: white;
  background: #9bc9ee;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
}

/* Footer */
.footer {
  grid-area: footer;
  background: white;
  color: black;
  text-align: center;
  padding: 10px;
}
